<template>
  <div id="index-banner" class="parallax-container">
    <div class="section profile">
      <div class="container">
         <h3 class="center header col s12 light">
        <%if (user.local.name && user.local.name.length > 0) { %>
         Hi <%= user.local.name %>
          <% } else if (user.local.email.length > 0)  { %>
            Hi <%= user.local.email %>
          <% } else { %>
              Hi!
          <% } %>
        </h3>
            <div class="row">

              <div class="col s4 center">
                <i class="material-icons circle folder">folder</i>
              </div>
              <div class="col s4 center">
                <i class="material-icons circle folder">folder</i>
              </div>
              <div class="col s4 center">
                <i class="material-icons circle folder">folder</i>
              </div>
            </div>
            <h3 class="center header col s12 light">Links floating in space</h3>
            <div class="row">
              <div class="col s3 "></div>
              <div class="col s6 ">
                <ul class="collection">
                  <li class="collection-item avatar">
                    <i class="material-icons circle">mode_edit</i>
                    <span class="title">www.youtube.com/g77jKAjhash8</span>
                    <p>Piotr Gankiewicz</p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                  </li>

                </ul>
              </div>
              <div class="col s3 "></div>
            </div>
      </div>
</div>
<div class="parallax"><div class="stars"></div>
<div class="twinkling"></div></div>
</div>
<div class="observatory">
  <img src="/content/img/observatory.png" class="obs">
</div>
</template>
