</main>
<footer class="white_transparent">
    <div class="footer-copyright  center-align">
      <div class="container teal-text text-lighten-5">
      have a nice day!
      </div>
    </div>
  </footer>


  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script src="js/init.js"></script>
</div>
</body>
</html>
