extends layout

block content
    .container
        h1
            |  Hoard
        |         
        a.btn.btn-default(href='/login')
            span.fa.fa-user
            |  Login
        |         
        a.btn.btn-default(href='/register')
            span.fa.fa-user
            |  Register
