<% include header %>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
    <h1>Hoard </h1>
    <h2>Login</h2>
    <form action="/login" method="post">
      <input label="Email" type="text" name="email">
      <input label="Password" type="password" name="password">
      <button class="btn btn-warning brn-lg" type="submit">Login</button>
    </form>
    <hr>
    <p>Need an account? <a href="/register">Register</a></p>
    <p>Or go <a href="/">home</a></p>

  </div>
</div>
<div class="parallax"><div class="stars"></div>
<div class="twinkling"></div></div>
</div>
<% include footer %>
