extends layout

block content
    .container
    .page-header.text-center
        h1
          span.fa.fa-anchor
          |  Profile Page
        a.btn.btn-default.btn-sm(href='/logout') Logout
      h1
        span.fa.fa-user
        |  Hello #{user.local.email}
