<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Hoard - your own space </title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato|Open+Sans'>
  <!-- <link rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'> -->

  <!--Import Google Icon Font-->
 <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <!--Import materialize.css-->
 <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
 <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
 <link rel='stylesheet' href='/stylesheets/style.css'>
 <!--Let browser know website is optimized for mobile-->

</head>
<body>
  <header>
  <nav class="white_transparent" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/us">About us</a></li>
        <li><a href="/profile">Profile</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/us">About us</a></li>
        <li><a href="/profile">Profile</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</header>
<main>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
    <h1>Hoard </h1>
    <h2>Register</h2>
    <form action="/register" method="post">
      <input label="Email" type="text" name="email">
      <input label="Password" type="password" name="password">
      <button class="btn btn-warning brn-lg" type="submit">Register</button>
    </form>
    <hr>
    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a></p>

  </div>
</div>
<div class="parallax"><div class="stars"></div>
<div class="twinkling"></div></div>
</div>
</main>
<footer class="white_transparent">
    <div class="footer-copyright  center-align">
      <div class="container teal-text text-lighten-5">
      have a nice day!
      </div>
    </div>
  </footer>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script src="js/init.js"></script>
</div>
</body>
</html>
