body
{
  background-color:#0b1228;
}
a
{
  color:#26a69a;
}
a:hover
{
  color:#2bbbad;
}
.underrocketsmall a:hover
{
  color:white;
}
i.folder
{
  font-size: 120px;
  line-height: 302px;
  color: rgba(255, 255, 255,1);
  background-color: rgba(153, 153, 153,0.3);
  text-align: center;
  width: 302px;
  height: 302px;
  overflow: hidden;
}
.collection .collection-item
{
  background-color: rgba(153, 153, 153,0.3);
}
.error
{
  border-radius: 2px;
  border:1px solid #e2574c;
  clear: both;
  padding: 20px;
}
.white_transparent
{
  background-color:rgba(51,51,51,0.40);
}
p.under-form
{
  line-height: 0.5rem;
}
.btn-large.border
{
  border: 1px solid white;
  background-color:transparent;
}
.btn-large.border:hover {
    background-color: #2bbbad;
  }
.footer-copyright
{
  font-size:10px;
}
.parallax-container {
    position: inherit;
  }
.section.no-pad-bot
{
  padding-top: 8rem;
  padding-bottom: 10rem;
}
.section.profile
{
  padding-top: 4rem;
  padding-bottom: 10rem;
}
footer
{
  width:100%;
  padding:20px;
}
nav ul a
{
  color:white;
}

/* It makes the footer sticky */
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

 #rocket {
   position:relative;
    width:80px;

    /* Set up the animation */
    animation: orbit 10s linear infinite;
}
.underrocket
{
  margin-top:-80px;
}
.underrocketsmall
{
  margin-top:-20px;
}
.obs
{
  width:300px;
}
.observatory
{
  margin-top: -300px;
  position: relative;
  margin-left: 30px;
  width: auto;
  display: inline-block;
}
/* Note that the second rotate in each of the transforms below has been removed */
@keyframes orbit {
	from { 	transform: rotate(0deg) translateX(240px); }
	to   {  transform: rotate(360deg) translateX(240px); }
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#0b1228 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url("/img/twinkling.png") repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 500s linear infinite;
  -ms-animation:move-twink-back 500s linear infinite;
  -o-animation:move-twink-back 500s linear infinite;
  -webkit-animation:move-twink-back 500s linear infinite;
  animation:move-twink-back 500s linear infinite;
}
